html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    border : none;
    width: 100px;
    height: 100px;
    cursor:pointer;
    transition: all .5ms ease-in-out;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px;
    border-radius: 2px;
}

.black{
    background-color: black;

}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
body{
    height: 100%;
}
.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */
     
}
h1 {
    color: rgb(241, 237, 237);
}